@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/*
font-family: 'Inter', sans-serif;
*/

:root {
    --main-element-color: #323232;
    --contrast-element-color: #0085FF;
    --secondary-element-color: #D4D4D4;
}

*{
    margin: 0;
    padding: 0;
}



#nav {
    background-color: var(--main-element-color) !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 999;
    border-radius: 0 0 20px 20px;
}

.container-fluid {
    display: flex;
    justify-content: space-around;
    width: 80% !important;
    align-items: center;
}

.navbar-brand {
    color: #FFF !important;
    font-size: 26px !important;
    font-family: Inter;
    font-weight: 600;
    
    display: flex;
    align-items: center;
}

.navbar-nav {
    margin: 0 auto !important;
}

.nav-item{
    padding-right:10px;
}

.nav-link {
    color: #FFF !important;
    font-size: 17px !important;
    font-family: Inter;
    font-weight: 500;
}

.navbar-toggler {
    color: #FFF;
    border: 2px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-element-color);
    height: 65vh;
    min-height: 450px;
    border-radius: 0 0 30px 30px;
}

.header h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #FFF;
}


.header p {
    color: var(--secondary-element-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

/*гарантии*/
.guaranties {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    top: 85px;
    margin: 0 auto;
    width: 65%;
}

.own-card {
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    margin: 15px;

    
    border-radius: 25px;
    background: linear-gradient(136deg, #2D4EFF 0%, #3A5AFF 100%);
    width: 210px;
    height: 159px;
}

.own-card h3 {
    color: #FFF;
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.own-card p {
    color: #FFF;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
}

/*направления*/
.napr {
    position: relative;
    top: 150px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.napr h1 {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;

    margin-bottom: 26px;
}

.napr img {
    width: 350px;
}

/*Преподаватель*/
.tutor {
    position: relative;
    top: 280px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-element-color);
    border-radius: 25px;
}

.tutor h1 {
    color: #FFF;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;

    padding: 40px;
}

.cols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col1, .col2 {
    margin: 0 50px;
}

.col1 {
    margin-bottom: 50px;
}

.col1 img {
    width: 95%;
}

.col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col2 h3 {
    color: #FFF;
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.col2 p {
    color: #FFF;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.col2 p::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 10px;

    vertical-align: middle;
    margin-right: 5px;
}

.col2 .btn1 {
    width: 170px;
    height: 46px;

    border-radius: 12px;
    border: none;
    background: #7E00E0;

    color: #FFF;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;

    margin-bottom: 40px;
}

.col2 .btn1:hover {
    border-radius: 12px;
    border: 4px solid #7E00E0;
    background: var(--main-element-color);    
}

.card {
    color: #FFF !important;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;

    background-color: var(--main-element-color) !important;
    border: none !important;

    margin: 0 20px;
    margin-bottom: 40px;
}

/*Услуги*/
.services {
    position: relative;
    top: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;


    flex-wrap: wrap;
    justify-content: center;

    margin: 0 auto;
}

.services h1 {
    color: #000;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;

    padding: 40px;
}

.cards {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 65%;
}

.services-card {
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    margin: 15px;

    
    border-radius: 25px;
    background: linear-gradient(136deg, #2D4EFF 0%, #3A5AFF 100%);
    width: 210px;
    height: 159px;

    color: #fff;
}

/*Footer*/
.footer {
    position: relative;
    top: 450px;

    display: flex;
    justify-content: space-between;

    background-color: var(--main-element-color);
    border-radius: 25px 25px 0 0;

    color: #FFF;

    padding: 40px;
    align-items: end;
}

.pages-footer {
    display: flex;
    flex-direction: column;

    text-decoration: none !important;
}

.pages-footer a {
    color: #FFF;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.colmn2 p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.colmn3 {
    display: flex;
    flex-direction: column;
    align-items: end;
}

@media screen and (max-width: 460px) {
    .header h1 {
        text-align: center;
        font-size: 37px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        color: #FFF;
    }

    .tutor h1 {
        color: #FFF;
        font-size: 33px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
    
        padding: 40px;
    }

    .services h1 {
        color: #000;
        font-size: 33px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
    
        padding: 40px;
    }

    .col2 h3 {
        color: #FFF;
        font-size: 30px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
    }
    
    .col2 p {
        color: #FFF;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 300;
    }
    
    .col2 .btn1 {
        width: 160px;
        height: 43px;
    
        border-radius: 12px;
        border: none;
        background: #7E00E0;
    
        color: #FFF;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
    
        margin-bottom: 40px;
    }

    .footer {
        position: relative;
        top: 450px;
        display: flex;
        flex-direction: column;
        background-color: var(--main-element-color);
        border-radius: 25px 25px 0 0;
        color: #FFF;
        padding: 40px;
        align-items: flex-start;
    }

    .colmn1 {
        padding: 10px 0;
    }
    .colmn3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
